<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <separator
                  name="file.seperator.0"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  id="closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="file.seperator.1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  id="saveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  id="saveAll"
                  label="Save All"
                  style="push">
            </command>
            <separator
                  name="file.seperator.2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  id="print"
                  label="Print..."
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="file.seperator.3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="edit"
               label="Edit"
               mnemonic="E">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="undo.ext"
                  visible="false">
            </separator>
            <separator
                  name="edit.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="paste"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="cut.ext"
                  visible="false">
            </separator>
            <separator
                  name="edit.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  id="delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  id="selectAll"
                  label="Select All"
                  style="push">
            </command>
            <separator
                  name="edit.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  id="findReplace"
                  label="Find/Replace..."
                  style="push">
            </command>
            <separator
                  name="find.ext"
                  visible="false">
            </separator>
            <separator
                  name="edit.separator4"
                  visible="true">
            </separator>
            <separator
                  name="editEnd"
                  visible="false">
            </separator>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </menu>
         <separator
               name="navigate"
               visible="false">
         </separator>
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  id="newWindow"
                  label="new Window"
                  style="push">
            </command>
            <separator
                  name="window.separator.1"
                  visible="true">
            </separator>
            <menu
                  id="openPerspective"
                  label="Open Perspective">
               <dynamic
                     class="com.example.rcp.workbench.internal.actions.OpenPerspectiveContributionItem"
                     id="com.example.rcp.workbench.dynamicOpenPerspective">
               </dynamic>
            </menu>
            <menu
                  id="showView"
                  label="Show View">
               <dynamic
                     class="com.example.rcp.workbench.internal.actions.ShowViewContributionItem"
                     id="com.example.rcp.workbench.dynamicShowView">
               </dynamic>
            </menu>
            <separator
                  name="window.seperator.2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  id="customizePerspective"
                  label="Customize Perspective..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  id="savePerspectiveAs"
                  label="Save Perspective As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  id="resetPerspective"
                  label="Reset Perspective..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  id="closePerspective"
                  label="Close Perspective"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  id="welcome"
                  label="Welcome"
                  style="push">
            </command>
            <separator
                  name="help.seperator.1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  id="helpContents"
                  label="Help Contents"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  id="search"
                  label="Search"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  id="dynamicHelp"
                  label="Dynamic Help"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="help.seperator.2"
                  visible="true">
            </separator>
            <command
                  commandId="com.example.rcp.workbench.support.command"
                  id="exampleSupport"
                  label="Example Support"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="aboutExampleWorkbench"
                  label="About Example Workbench"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <separator
               name="additions">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.example.rcp.workbench.commands.category"
            name="Example Workbench Commands">
      </category>
      <command
            categoryId="com.example.rcp.workbench.commands.category"
            defaultHandler="com.example.rcp.workbench.internal.handlers.ExampleSupportHandler"
            id="com.example.rcp.workbench.support.command"
            name="Example Support">
      </command>
   </extension>
   <extension
         id="com.example.rcp.workbench.application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="com.example.rcp.workbench.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="com.example.rcp.workbench.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.example.rcp.workbench.application"
            name="Example Workbench">
         <property
               name="appName"
               value="Example Workbench">
         </property>
         <property
               name="aboutText"
               value="About Example Workbench">
         </property>
         <property
               name="startupProgressRect"
               value="126,155,214,15">
         </property>
         <property
               name="startupMessageRect"
               value="372,155,390,20">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
    		name="cssTheme"
    		value="org.eclipse.e4.ui.css.theme.e4_default">
		</property>
		<property
    		name="applicationCSSResources"
    		value="platform:/plugin/org.eclipse.platform/images/">
		</property>
		<property
      		name="applicationXMI"
      		value="org.eclipse.platform/LegacyIDE.e4xmi">
   		</property>
      </product>
   </extension>

</plugin>
